.accordion {
  display: flex;
  flex-direction: column;

  &__item {
    &.close .accordion__info {
      height: 0px;
      transition: height .3s ease-out;
      -webkit-transform: scaleY(0);
      -o-transform: scaleY(0);
      -ms-transform: scaleY(0);
      transform: scaleY(0);
      transition: all .3s ease-in-out;
    }

    &.open .accordion__ico::before {
      transform: rotate(90deg);
    }

    &.open .accordion__ico::after {
      transform: rotate(180deg);
    }

    &.open .accordion__info {
      height: 100%;
      padding-top: 40px;
      -webkit-transform: scaleY(1);
      -o-transform: scaleY(1);
      -ms-transform: scaleY(1);
      transform: scaleY(1);
      -webkit-transform-origin: top;
      -o-transform-origin: top;
      -ms-transform-origin: top;
      transform-origin: top;
      -webkit-transition: -webkit-transform 0.3s ease-out;
      -o-transition: -o-transform 0.3s ease;
      -ms-transition: -ms-transform 0.3s ease;
      transition: all 0.3s ease;

      @media screen and (max-width: 768px) {
        padding-top: 30px;
      }
    }

    &:hover {
      border-bottom: 1px solid $accent;

      .accordion__ico {
        transform: scale(.75);
      }
    }
  }

  &__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1 1 auto;

    &:hover {
      cursor: pointer;
    }
  }

  &__btn {
    text-align: left;

    h3 {
      max-width: 615px;

      @media screen and (max-width: 768px) {
        max-width: 85%;
      }
    }
  }

  &__ico {
    position: relative;
    width: 42px;
    height: 42px;
    line-height: 42px;
    display: flex;
    flex: 0 0 42px;
    margin-right: 5px;
    transition: $transition;

    @media screen and (max-width: 575px) {
      width: 38px;
      height: 38px;
      line-height: 38px;
      flex-basis: 38px;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      background-color: $accent;
      transition: transform 0.25s ease-out;
    }

    &::before {
      top: 0;
      left: 50%;
      width: 3px;
      height: 100%;
      margin-left: -1.5px;
    }

    &::after {
      top: 50%;
      left: 0;
      width: 100%;
      height: 3px;
      margin-top: -1.5px;
    }
  }

  &__info {
    margin: 0;
    padding-top: 0px;
    padding-right: 192px;
    line-height: 175%;
    overflow: hidden;
    transition: $transition;

    @media screen and (max-width: 1200px) {
      padding-right: 140px;
    }

    @media screen and (max-width: 991px) {
      padding-right: 80px;
    }

    @media screen and (max-width: 768px) {
      padding-right: 0;
    }
  }
}