.social {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;

  @media screen and (max-width: 768px) {
    justify-content: start;
  }

  @media screen and (max-width: 475px) {
    justify-content: space-between;
  }

  a {
    img {
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex: 0 0 40px;
      border-radius: 50%;
      transition: $transition;
    }

    &:hover,
    &:focus {
      img {
        transform: translate(4px, -4px);
      }
    }
  }
}